<header class="site-header" role="banner">
  <style>
    .toradora_button {
      text-shadow: 1px 1px 2px black, 0 0 10px black;
    }
    
    .toradora_button:hover {
      filter: brightness(120%);
    }
    
    .toradora_button:active {
      padding: 8px; 
      filter: brightness(80%);
    }
  </style>

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    
    <!-- <a class="site-title" href="/">{{ site.title | escape }}</a> -->
    <a class="site-title" href="/" style="color: white; text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;">
      <span style="background-color:#e95499;">Ra</span><span style="background-color:#f29a4b;">n</span><span style="background-color:#6bcaf3;">do</span><span style="background-color:#d2bc61;">ru</span><span style="background-color:#e94e5c;">f</span><span style="color: white;">の小部屋</span>
    </a>

    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            {% include hamburger.svg %}
          </span>
        </label>

        <div class="trigger">
            <a class="toradora_button page-link" href="/archives/" style="background-color:#e95499; color:white;">Archives</a>
            <a class="toradora_button page-link" href="/projects/" style="background-color:#f29a4b; color:white;">Projects</a>
            <a class="toradora_button page-link" href="https://www.douban.com/people/randoruf/" style="background-color:#6bcaf3; color:white;">Readings</a>
            <a class="toradora_button page-link" href="/publications/" style="background-color:#d2bc61; color:white;">Publications</a>
            <a class="toradora_button page-link" href="/about/" style="background-color:#e94e5c; color:white;">About</a>
        </div>
      </nav>
    {% endif %}
  </div>
</header>